@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-color: #030712;
		--surface-color: #111827;
		--border-color: #374151;
		--primary-accent: #10b981;
		--primary-glow: rgba(16, 185, 129, 0.5);
		--secondary-accent: #a78bfa;
		--text-primary: #f9fafb;
		--text-secondary: #9ca3af;
		--font-sans: 'Inter', sans-serif;
	}

	html, body {
		@apply h-full overflow-hidden;
	}

	body {
		font-family: var(--font-sans);
		background-color: var(--bg-color);
		background-image: radial-gradient(circle at top, rgba(16, 185, 129, 0.15) 0%, transparent 40%),
		radial-gradient(circle at bottom, rgba(167, 139, 250, 0.1) 0%, transparent 50%);
		color: var(--text-primary);
		user-select: none;
	}
}