:root {
    --bg-color: #030712;
    --surface-color: #111827;
    --border-color: #374151;
    --primary-accent: #10b981;
    --secondary-accent: #a78bfa;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --font-sans: 'Inter', sans-serif;
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-sans);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    user-select: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

h1,
h2 {
    color: var(--text-primary);
    font-weight: 700;
}

.aurora-blob {
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.3;
    filter: blur(100px);
}

.aurora-blob:nth-child(2) {
    background-color: var(--primary-accent);
    animation: move-blob-1 25s infinite alternate ease-in-out;
}

.aurora-blob:nth-child(3) {
    background-color: var(--secondary-accent);
    animation: move-blob-2 30s infinite alternate ease-in-out;
}

@keyframes move-blob-1 {
    from {
        transform: translate(10vw, -20vh) rotate(0deg);
    }
    to {
        transform: translate(80vw, 50vh) rotate(360deg);
    }
}

@keyframes move-blob-2 {
    from {
        transform: translate(60vw, 70vh) rotate(0deg);
    }
    to {
        transform: translate(-20vw, 10vh) rotate(-360deg);
    }
}